# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.venv/

# Custom
backup/
archive/
dataset/
row_data/
scalers/
results/
logs/
saved_models/
**/*.csv
**/*.log
**/*.pkl
**/*.pth
